scipy==1.7.0
ftfy==6.0.1
opencv-python==4.5.1.48
setuptools==59.5.0
pillow==8.2.0
imageio==2.4.1
timm==1.0.9
open_clip_torch==2.26.1
fast-pytorch-kmeans
regex
einops
git+https://github.com/facebookresearch/detectron2.git